body {
    width: 484px;
    height: 427px;
}


.titulo {
    color: red;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


#lista-dominios {
    flex: 1;
    flex-direction: column;
}

.pantalla-bloqueo {
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    z-index: 99999;
}

#error {
    display: none;
    background-color: red;
}

